<mat-expansion-panel [expanded]="subCategoryService.panelOpenState">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <h2 style="padding-top: 15px;">Add SubCategory </h2>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>SubCat ID</mat-label>
          <input matInput placeholder="SubCat id" type="text" [(ngModel)]="subCategoryService.currentSubCategory.subCatId" disabled>
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field appearance="outline">
          <mat-label>SubCategory Name</mat-label>
          <input matInput placeholder="Write a new SubCategory name" type="text" [(ngModel)]="subCategoryService.currentSubCategory.subCatName">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="outline">
          <mat-label>SubCategory Image</mat-label>
          <input matInput placeholder="Select subcategory image" type="text" [(ngModel)]="subCategoryService.currentSubCategory.subCatImage">
      
        </mat-form-field>
      </div>
      <div class="col-md-8">
        <mat-form-field appearance="outline">
          <mat-label>SubCategory Description</mat-label>
          <input matInput placeholder="Write a new SubCategory description" type="text" [(ngModel)]="subCategoryService.currentSubCategory.subCatDesc">
        </mat-form-field>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <mat-form-field appearance="outline">
                <mat-label   >Select Category</mat-label>
              
                <mat-select [(ngModel)]="subCategoryService.currentSubCategory.catName" >
                    <mat-option  (click)="Catvalue(p)" [value]="p.catName"  *ngFor="let p of allCategory" >{{p.catName}}</mat-option>
                   
                  </mat-select>
              </mat-form-field>
        </div>
        <div class="col-md-8">
            <mat-form-field appearance="outline">
                <mat-label>Category Id </mat-label>
                <input matInput placeholder="Category Name "  type="text" [(ngModel)]="subCategoryService.currentSubCategory.catId"  disabled>
              </mat-form-field>

        </div>
    </div>
  <button class="btn btn-success" (click)="createOrUpdate(subCategoryService.currentSubCategory)"  *ngIf="!buttonview"> <i class="fa fa-save"></i>Save</button>
  <button class="btn btn-success" (click)="createOrUpdate(subCategoryService.currentSubCategory)"  *ngIf="buttonview"> <i class="fa fa-save"></i>Update</button>
  <button class="btn btn-primary" (click)="clear()" (click)="msgclear()"> <i class="fa fa-retweet"></i> Clear</button>
    <font [color]="msgcolor" size="10px">{{msg}}</font>
  </mat-expansion-panel>
<br>
  <mat-divider></mat-divider>
<br>



<mat-card>
    <mat-card-header>
      <mat-card-title>SubCategories List</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput placeholder="Write anything">
      </mat-form-field>
      <div>
        <table mat-table [dataSource]="dataSource">
         
          <ng-container matColumnDef="SubCategory ID">
            <th mat-header-cell *matHeaderCellDef> SubCategory ID </th>
            <td mat-cell *matCellDef="let cat"> {{cat.subCatId}} </td>
          </ng-container>
           
          <ng-container matColumnDef="SubCategory Name">
            <th mat-header-cell *matHeaderCellDef> SubCategory Name </th>
            <td mat-cell *matCellDef="let cat"> {{cat.subCatName}} </td>
          </ng-container>
  
         
          <ng-container matColumnDef="SubCategory Description">
            <th mat-header-cell *matHeaderCellDef> SubCategory Description </th>
            <td mat-cell *matCellDef="let cat"> {{cat.subCatDesc}} </td>
          </ng-container>

          <ng-container matColumnDef="SubCategory Images">
            <th mat-header-cell *matHeaderCellDef> SubCategory Images </th>
            <td mat-cell *matCellDef="let cat"> {{cat.subCatImage}} </td>
          </ng-container>

          <ng-container matColumnDef="Category Name">
            <th mat-header-cell *matHeaderCellDef> Category Name </th>
            <td mat-cell *matCellDef="let cat"> {{cat.catName}} </td>
          </ng-container>
  
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let cat">
              <button mat-raised-button color="primary" (click)="edit(cat)">
                <i class="fa fa-edit"></i> Edit
              </button>
              <button mat-raised-button color="warn" (click)="delete(cat.subCatId)">
                <i class="fa fa-trash"></i> Delete
              </button>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let cat; columns: displayedColumns;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[5, 10, 20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>
