<br><br>
<div class="container">
<div class="container">
    
    <div class="card text-black text-center border border-5 border-warning " style="width: auto; border-radius: 25px">
        <div>
            <img src="https://www.expression-web-tutorials.com/images/forbidden.jpg"  class=" rounded mx-auto d-block" alt="...">
        </div>
       
        <div class="card-body ">
          <h1 id="hadder" class="card-title   h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Forbidden</h1>
          <h2 class="card-text text-center">You are not allowed to this page. Please Login first</h2>
          <a href="/" class="btn btn-primary  justify-content-md-end" style="text-align:center">Home</a>
          <a href="/login" class="btn btn-success  justify-content-md-end ms-5" style="text-align:center">Login</a>
       <br>
        </div>
        <br>
      </div>>
    </div>
</div>

