<mat-toolbar>
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <i class="fas fa-bars"></i>
            <!-- <mat-icon>menu</mat-icon> -->
        </button>
        <span>Admin Panel</span>
        
        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
               
                <li>
                    <button class="btn">
                       
                        <a href="/"> <i class="fa fa-home" aria-hidden="true"></i></a>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>settings</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
                <li>
                    <button mat-icon-button [matMenuTriggerFor]="menu" title="{{name}}">
                        
                            <img  id="uimage" src="assets/images/nazmul.jpg" alt="">
                       
                    </button>
                    <mat-menu #menu="matMenu">

                        <div class="profile-card">
                            <div class="header">
                              <h2>{{name}}</h2>
                              <h4> {{email}}</h4>
                            </div>
                            <img src="{{image}}"  alt="Admin Image">
                          </div>

                        <!-- <button mat-menu-item>
                            <mat-icon>perm_identity</mat-icon>
                            <a > {{name}} </a>
                        </button>
                        <button mat-menu-item>
                            <mat-icon> email</mat-icon>
                            <a > {{email}} </a>
                        </button> -->
                        <br>
                        <button mat-menu-item class="btn-danger" (click)="logout()" >
                            <mat-icon>exit_to_app</mat-icon>
                            <a  > <span style="color: black;">Sign out</span></a>
                             
                        </button>
                    </mat-menu>
                </li>
            </ul>
        </div>
    </mat-toolbar-row>
</mat-toolbar>